[submodule "third_party/CppAD"]
	path = third_party/CppAD
	url = https://github.com/coin-or/CppAD.git
	ignore = all
[submodule "third_party/CppADCodeGen"]
	path = third_party/CppADCodeGen
	url = https://github.com/eric-heiden/CppADCodeGen.git
	ignore = all
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
	ignore = all
[submodule "third_party/ceres-solver"]
	path = third_party/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver
	ignore = all
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
	ignore = all
[submodule "third_party/bullet3"]
	path = third_party/bullet3
	url = https://github.com/bulletphysics/bullet3
	ignore = all
[submodule "third_party/pagmo2"]
	path = third_party/pagmo2
	url = https://github.com/esa/pagmo2.git
[submodule "third_party/oneTBB"]
	path = third_party/oneTBB
	url = https://github.com/oneapi-src/oneTBB
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/erwincoumans/boost.git
[submodule "third_party/osqp"]
	path = third_party/osqp
	url = https://github.com/oxfordcontrol/osqp.git
[submodule "third_party/qpOASES"]
	path = third_party/qpOASES
	url = https://github.com/coin-or/qpOASES.git
