language: cpp

matrix:
  include:
    - os: linux
      dist: focal
      compiler: gcc
      before_install:
        - sudo apt install -y libasound2-dev
      env:
        - BUILD_NAME=TRUSTY_GCC
        - SUDO=sudo
    - os: linux
      dist: focal
      compiler: clang
      before_install:
        - sudo apt install -y libasound2-dev
      env:
        - BUILD_NAME=TRUSTY_CLANG
        - SUDO=sudo
    - os: osx
      osx_image: xcode12
      compiler: gcc
      env:
        - BUILD_NAME=OSX_GCC
    - os: osx
      osx_image: xcode12
      compiler: clang
      env:
        - COMPILER=clang++
        - BUILD_NAME=OSX_CLANG
addons:
      apt:
        packages:
          - python3
          - clang-11
          - cmake
          - gcc-9
          - g++-9

script:
  - echo "CXX="$CXX
  - echo "CC="$CC
  - cmake . 
  - make -j8
  - ctest -j8 --output-on-failure
  - sudo make install

